{% extends 'base.html' %}
{% block content %}


<div class="d-flex justify-content-center">
<div class="card" style="width: 30rem;">
    {% if object.photo_product %}
  <img src="{{object.photo_product.url}}" class="card-img-top" alt="{{object.name}}">
    {% endif %}
  <div class="card-body text-center">
    <h4 class="card-title">{{object.name}}</h4>
    <p class="card-text">{{object.description}}</p>
    <a href="#" class="btn btn-primary mt-3">
            Купить за {{ object.price }}
      </a>
        {% if perms.catalog.change_product or perms.catalog.delete_product %}
        <div class="mt-3 d-flex justify-content-center gap-2">
            {% if perms.catalog.change_product %}
            <a href="{% url 'catalog:product_update' object.pk %}" class="btn btn-light text-primary border border-primary">Редактировать</a>
            {% endif %}
            {% if perms.catalog.delete_product %}
            <a href="{% url 'catalog:product_delete' object.pk %}" class="btn btn-light text-primary border border-primary">Удалить</a>
            {% endif %}
        </div>
        {% endif %}
  </div>
</div>
</div>

